.c-c-wrapper {
    background-color: white;
    border-radius: 20px;
    height: calc(100vh - 170px);
    overflow-y: scroll;
    ion-item {
        padding: 0 !important;
        margin: 8px 0;
        ion-label {
            p {
                font-size: 10px;
            }
            h2 {
                font-size: 12px;
            }
        }
        ion-icon {
            font-size: 10px;
            padding: 8px 2px;
            background: #eaeaea;
            border-radius: 10px;
        }
    }
    ion-avatar {
        margin-right: 10px;
    }
}

.card-wrapper {
    background-color: #eaeaea;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding: 20px 10px 10px;
    height: 120px;
}
