<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
<div class="main-wrapper">
    <ion-item lines="none" class="pt-1" style="--background: #eaeaea;">
        <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/150?img=59">
        </ion-avatar>
        <ion-label>Williem Sam</ion-label>
    </ion-item>
    <div class="p-2 c-c-wrapper">
        <ion-grid class="p-0">
            <ion-row>
                <ion-col size="6" *ngFor="let cItem of card_list">
                    <ion-list class="card-wrapper">
                        <!-- <ion-thumbnail> -->
                        <ion-img [src]="cItem.card_logo"></ion-img>
                        <!-- </ion-thumbnail> -->
                        <p>{{cItem.card_name}}</p>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>
<!-- </ion-content> -->